.navbar {
    width: rem(80px);
    height: rem(750px);
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-4));
  }
  
  .navbarMain {
    flex: 1;
    margin-top: rem(50px);
  }
  
  .link {
    width: rem(50px);
    height: rem(50px);
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mantine-color-white);
  
    &:hover {
      background-color: light-dark(var(--mantine-color-dark-4), var(--mantine-color-gray-5));
    }
  
    &[data-active] {
      &,
      &:hover {
        box-shadow: var(--mantine-shadow-sm);
        background-color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
        color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
      }
    }
  }